.nav-item{
    letter-spacing: 3px;
	@media (max-width: 1200px) {
		letter-spacing: unset;
	}
}

i{
    font-size: 22px;

}
.fab{
	font-size: 22px;
}

footer {
	.forrer-down{
		display: flex;
	}
	.sci {
		margin-top: 15px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		li {
			list-style: none;
			width: 35px;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f1a486;
			border-radius: 50%;
			margin: 0 7px;
			cursor: pointer;
			&:hover {
				background: #ff4584;
			}
			i {
				transform: scale(1.3);
				filter: invert(1);
			}
		}
	}
}