*{    
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
}
nav{
    width: 360px;
    height: 100vh;
    background-color: lemonchiffon;        
    padding-top: 100px;
}
nav .container{
    width: 100%;
}
nav .container .burger{
    display: none;
}
nav .container .logo{
    width: 150px;
    height: 150px;
    background-color: lightyellow;    
    margin: 0px auto;
}    
nav .container .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
nav .container .menu{
    width: 100%;
    font-size: 21px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    list-style: none;    
}
nav .container .menu li{
    margin: 15px;
}
nav .container .menu li a{ 
    width: 100px;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 0;
}
a:hover{
    color:lightgrey;}
main{
    width: calc(100% - 360px);
    height: 100vh;
    background-color: lightblue;
    display: flex;
}
main .container{
    width: 900px;
    height: 570px;
    margin: auto;
    display: flex;
}
.box{
    width: 33%;
    height: 570px;
    color: white;
    border-radius: 0px 20px 0px 20px;
    display: flex;
}
.X{
    background-image: url('https://gramhir.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cscontent-hel3-1.cdninstagram.com%7C%7Cv%7C%7Ct51.2885-15%7C%7Ce35%7C%7Cs1080x1080%7C%7C171188051_218134230071760_5323729396838780226_n.jpg%3F_nc_ht%3Dscontent-hel3-1.cdninstagram.com%26_nc_cat%3D100%26_nc_ohc%3Damqr1Fs0vqkAX_eDrZG%26edm%3DAP_V10EBAAAA%26ccb%3D7-4%26oh%3D99efd78a6b66f02fd9fb137bf4aef78c%26oe%3D61972A8E%26_nc_sid%3D4f375e');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Y{
    background-image: url('https://i.ppfocus.com/2021/2/868a5fc664df.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 5px;
}
.Z{
    background-image: url('https://1.share.photo.xuite.net/brothers586/1117b82/9996561/448973681_m.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 1330px) {
    main .container{
        width: 800px;            
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box{
        width: 800px;
        height: 100%;
        border-radius: 20px;
    }
    .X{        
        width: 100%;
        height: calc(50% - 5px);
        background-image: url('https://gramhir.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cscontent-hel3-1.cdninstagram.com%7C%7Cv%7C%7Ct51.2885-15%7C%7Ce35%7C%7Cs1080x1080%7C%7C171188051_218134230071760_5323729396838780226_n.jpg%3F_nc_ht%3Dscontent-hel3-1.cdninstagram.com%26_nc_cat%3D100%26_nc_ohc%3Damqr1Fs0vqkAX_eDrZG%26edm%3DAP_V10EBAAAA%26ccb%3D7-4%26oh%3D99efd78a6b66f02fd9fb137bf4aef78c%26oe%3D61972A8E%26_nc_sid%3D4f375e');
        background-size: cover;
        background-position: 0 30%;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }    
    .Y{
        width: 49%;
        height: calc(50% - 5px);
        background-image: url('https://i.ppfocus.com/2021/2/868a5fc664df.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
    }
    .Z{
        width: 49%;
        height: calc(50% - 5px);
        background-image: url('https://1.share.photo.xuite.net/brothers586/1117b82/9996561/448973681_m.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media (max-width: 1170px) {
    body{
        display: unset;
    }
    nav{
        width: 100%;
        height: 100px;    
        background-color: lemonchiffon;    
        padding: 10px 50px;
    }
    nav .container{
        width: 100%;
        height: 80px;    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .container .logo{
        width: 80px;
        height: 80px;    
        margin: unset;
    }
    nav .container .menu{
        width: 420px;
        padding: 0px;        
        display: flex;   
        justify-content: flex-end;
    }
    main{
        width: 100%;
        height: calc(100vh - 100px);
        background-color: lightblue;
        padding: 40px 50px;    
    }
    main .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;        
    }
}
@media (max-width: 768px) {
    nav{
        width: 100%;
        height: 80px;
        background-color: lemonchiffon;        
    }
    nav .container{
        width: 100%;
        height: 100%;
        position: relative;
    }
    nav .container .burger {
        display: inline-block;
        width: 40px;
        height: 50px;
        background-color: lightcoral;        
    }
    nav .container .logo{
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);    
    }
    nav .container .menu{
        display: none;    
    }
    main{        
        height: calc(100vh - 80px);
        padding: 0px;
    }
    main .container{
        display: unset;
    }
    main .container .box{
        border-radius: 0px;
    }
    main .container .X{
        height: 33.33%;
        margin-bottom: unset;
    }
    main .container .Y{
        width: 100%;
        height: 33.33%;
    }
    main .container .Z{
        width: 100%;
        height: 33.33%;
    }
}