* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#dcf0f1, #1f7396);
}

.stars {
  width: 100%;
  position: relative;
}

.stars .star-1 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  -webkit-animation-name: fall-1;
          animation-name: fall-1;
  -webkit-animation-duration: 4.23903s;
          animation-duration: 4.23903s;
  -webkit-animation-delay: 2.61775s;
          animation-delay: 2.61775s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-2 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  -webkit-animation-name: fall-2;
          animation-name: fall-2;
  -webkit-animation-duration: 3.51593s;
          animation-duration: 3.51593s;
  -webkit-animation-delay: 0.14459s;
          animation-delay: 0.14459s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-3 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  -webkit-animation-name: fall-3;
          animation-name: fall-3;
  -webkit-animation-duration: 2.3276s;
          animation-duration: 2.3276s;
  -webkit-animation-delay: 1.32592s;
          animation-delay: 1.32592s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-4 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  -webkit-animation-name: fall-4;
          animation-name: fall-4;
  -webkit-animation-duration: 3.65054s;
          animation-duration: 3.65054s;
  -webkit-animation-delay: 0.89086s;
          animation-delay: 0.89086s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-5 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  -webkit-animation-name: fall-5;
          animation-name: fall-5;
  -webkit-animation-duration: 2.05056s;
          animation-duration: 2.05056s;
  -webkit-animation-delay: 2.347s;
          animation-delay: 2.347s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-6 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  -webkit-animation-name: fall-6;
          animation-name: fall-6;
  -webkit-animation-duration: 1.97819s;
          animation-duration: 1.97819s;
  -webkit-animation-delay: 2.36357s;
          animation-delay: 2.36357s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-7 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 210px;
  -webkit-animation-name: fall-7;
          animation-name: fall-7;
  -webkit-animation-duration: 4.06204s;
          animation-duration: 4.06204s;
  -webkit-animation-delay: 0.68061s;
          animation-delay: 0.68061s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-8 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 240px;
  -webkit-animation-name: fall-8;
          animation-name: fall-8;
  -webkit-animation-duration: 2.22121s;
          animation-duration: 2.22121s;
  -webkit-animation-delay: 1.06516s;
          animation-delay: 1.06516s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-9 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 270px;
  -webkit-animation-name: fall-9;
          animation-name: fall-9;
  -webkit-animation-duration: 2.63992s;
          animation-duration: 2.63992s;
  -webkit-animation-delay: 1.90416s;
          animation-delay: 1.90416s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-10 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 300px;
  -webkit-animation-name: fall-10;
          animation-name: fall-10;
  -webkit-animation-duration: 2.90772s;
          animation-duration: 2.90772s;
  -webkit-animation-delay: 1.62611s;
          animation-delay: 1.62611s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-11 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 330px;
  -webkit-animation-name: fall-11;
          animation-name: fall-11;
  -webkit-animation-duration: 1.13266s;
          animation-duration: 1.13266s;
  -webkit-animation-delay: 2.69341s;
          animation-delay: 2.69341s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-12 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 360px;
  -webkit-animation-name: fall-12;
          animation-name: fall-12;
  -webkit-animation-duration: 2.72826s;
          animation-duration: 2.72826s;
  -webkit-animation-delay: 2.83969s;
          animation-delay: 2.83969s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-13 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 390px;
  -webkit-animation-name: fall-13;
          animation-name: fall-13;
  -webkit-animation-duration: 1.15818s;
          animation-duration: 1.15818s;
  -webkit-animation-delay: 0.05372s;
          animation-delay: 0.05372s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-14 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 420px;
  -webkit-animation-name: fall-14;
          animation-name: fall-14;
  -webkit-animation-duration: 4.45275s;
          animation-duration: 4.45275s;
  -webkit-animation-delay: 0.86383s;
          animation-delay: 0.86383s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-15 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  -webkit-animation-name: fall-15;
          animation-name: fall-15;
  -webkit-animation-duration: 4.41699s;
          animation-duration: 4.41699s;
  -webkit-animation-delay: 2.47339s;
          animation-delay: 2.47339s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-16 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 480px;
  -webkit-animation-name: fall-16;
          animation-name: fall-16;
  -webkit-animation-duration: 4.72868s;
          animation-duration: 4.72868s;
  -webkit-animation-delay: 0.63015s;
          animation-delay: 0.63015s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-17 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 510px;
  -webkit-animation-name: fall-17;
          animation-name: fall-17;
  -webkit-animation-duration: 1.40377s;
          animation-duration: 1.40377s;
  -webkit-animation-delay: 2.67914s;
          animation-delay: 2.67914s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-18 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 540px;
  -webkit-animation-name: fall-18;
          animation-name: fall-18;
  -webkit-animation-duration: 4.55592s;
          animation-duration: 4.55592s;
  -webkit-animation-delay: 2.37717s;
          animation-delay: 2.37717s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-19 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 570px;
  -webkit-animation-name: fall-19;
          animation-name: fall-19;
  -webkit-animation-duration: 1.11719s;
          animation-duration: 1.11719s;
  -webkit-animation-delay: 1.95038s;
          animation-delay: 1.95038s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-20 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 600px;
  -webkit-animation-name: fall-20;
          animation-name: fall-20;
  -webkit-animation-duration: 5.32316s;
          animation-duration: 5.32316s;
  -webkit-animation-delay: 1.76295s;
          animation-delay: 1.76295s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-21 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 630px;
  -webkit-animation-name: fall-21;
          animation-name: fall-21;
  -webkit-animation-duration: 2.96119s;
          animation-duration: 2.96119s;
  -webkit-animation-delay: 2.31206s;
          animation-delay: 2.31206s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-22 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 660px;
  -webkit-animation-name: fall-22;
          animation-name: fall-22;
  -webkit-animation-duration: 4.09527s;
          animation-duration: 4.09527s;
  -webkit-animation-delay: 2.18777s;
          animation-delay: 2.18777s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-23 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 690px;
  -webkit-animation-name: fall-23;
          animation-name: fall-23;
  -webkit-animation-duration: 4.94608s;
          animation-duration: 4.94608s;
  -webkit-animation-delay: 2.75332s;
          animation-delay: 2.75332s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-24 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 720px;
  -webkit-animation-name: fall-24;
          animation-name: fall-24;
  -webkit-animation-duration: 4.87311s;
          animation-duration: 4.87311s;
  -webkit-animation-delay: 2.87433s;
          animation-delay: 2.87433s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-25 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 750px;
  -webkit-animation-name: fall-25;
          animation-name: fall-25;
  -webkit-animation-duration: 1.34311s;
          animation-duration: 1.34311s;
  -webkit-animation-delay: 1.07459s;
          animation-delay: 1.07459s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-26 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 780px;
  -webkit-animation-name: fall-26;
          animation-name: fall-26;
  -webkit-animation-duration: 4.44347s;
          animation-duration: 4.44347s;
  -webkit-animation-delay: 0.14435s;
          animation-delay: 0.14435s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-27 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 810px;
  -webkit-animation-name: fall-27;
          animation-name: fall-27;
  -webkit-animation-duration: 4.51683s;
          animation-duration: 4.51683s;
  -webkit-animation-delay: 2.27505s;
          animation-delay: 2.27505s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-28 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 840px;
  -webkit-animation-name: fall-28;
          animation-name: fall-28;
  -webkit-animation-duration: 2.85832s;
          animation-duration: 2.85832s;
  -webkit-animation-delay: 0.32339s;
          animation-delay: 0.32339s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-29 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 870px;
  -webkit-animation-name: fall-29;
          animation-name: fall-29;
  -webkit-animation-duration: 3.49703s;
          animation-duration: 3.49703s;
  -webkit-animation-delay: 0.4352s;
          animation-delay: 0.4352s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-30 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 900px;
  -webkit-animation-name: fall-30;
          animation-name: fall-30;
  -webkit-animation-duration: 5.19895s;
          animation-duration: 5.19895s;
  -webkit-animation-delay: 1.51232s;
          animation-delay: 1.51232s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1032.27769px);
            transform: translate(500px, 1032.27769px);
  }
}

@keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1032.27769px);
            transform: translate(500px, 1032.27769px);
  }
}

@-webkit-keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1055.33484px);
            transform: translate(500px, 1055.33484px);
  }
}

@keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1055.33484px);
            transform: translate(500px, 1055.33484px);
  }
}

@-webkit-keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1068.99653px);
            transform: translate(500px, 1068.99653px);
  }
}

@keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1068.99653px);
            transform: translate(500px, 1068.99653px);
  }
}

@-webkit-keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1084.61426px);
            transform: translate(500px, 1084.61426px);
  }
}

@keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1084.61426px);
            transform: translate(500px, 1084.61426px);
  }
}

@-webkit-keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1090.95134px);
            transform: translate(500px, 1090.95134px);
  }
}

@keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1090.95134px);
            transform: translate(500px, 1090.95134px);
  }
}

@-webkit-keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1013.26884px);
            transform: translate(500px, 1013.26884px);
  }
}

@keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1013.26884px);
            transform: translate(500px, 1013.26884px);
  }
}

@-webkit-keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1088.09318px);
            transform: translate(500px, 1088.09318px);
  }
}

@keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1088.09318px);
            transform: translate(500px, 1088.09318px);
  }
}

@-webkit-keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.81117px);
            transform: translate(500px, 1078.81117px);
  }
}

@keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.81117px);
            transform: translate(500px, 1078.81117px);
  }
}

@-webkit-keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1023.92983px);
            transform: translate(500px, 1023.92983px);
  }
}

@keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1023.92983px);
            transform: translate(500px, 1023.92983px);
  }
}

@-webkit-keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1020.97718px);
            transform: translate(500px, 1020.97718px);
  }
}

@keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1020.97718px);
            transform: translate(500px, 1020.97718px);
  }
}

@-webkit-keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1044.38372px);
            transform: translate(500px, 1044.38372px);
  }
}

@keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1044.38372px);
            transform: translate(500px, 1044.38372px);
  }
}

@-webkit-keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1036.49797px);
            transform: translate(500px, 1036.49797px);
  }
}

@keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1036.49797px);
            transform: translate(500px, 1036.49797px);
  }
}

@-webkit-keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1042.01352px);
            transform: translate(500px, 1042.01352px);
  }
}

@keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1042.01352px);
            transform: translate(500px, 1042.01352px);
  }
}

@-webkit-keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1027.91457px);
            transform: translate(500px, 1027.91457px);
  }
}

@keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1027.91457px);
            transform: translate(500px, 1027.91457px);
  }
}

@-webkit-keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1055.14812px);
            transform: translate(500px, 1055.14812px);
  }
}

@keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1055.14812px);
            transform: translate(500px, 1055.14812px);
  }
}

@-webkit-keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1044.05939px);
            transform: translate(500px, 1044.05939px);
  }
}

@keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1044.05939px);
            transform: translate(500px, 1044.05939px);
  }
}

@-webkit-keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1073.88273px);
            transform: translate(500px, 1073.88273px);
  }
}

@keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1073.88273px);
            transform: translate(500px, 1073.88273px);
  }
}

@-webkit-keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1013.03496px);
            transform: translate(500px, 1013.03496px);
  }
}

@keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1013.03496px);
            transform: translate(500px, 1013.03496px);
  }
}

@-webkit-keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1030.84534px);
            transform: translate(500px, 1030.84534px);
  }
}

@keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1030.84534px);
            transform: translate(500px, 1030.84534px);
  }
}

@-webkit-keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1015.57011px);
            transform: translate(500px, 1015.57011px);
  }
}

@keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1015.57011px);
            transform: translate(500px, 1015.57011px);
  }
}

@-webkit-keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1060.32037px);
            transform: translate(500px, 1060.32037px);
  }
}

@keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1060.32037px);
            transform: translate(500px, 1060.32037px);
  }
}

@-webkit-keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1033.09035px);
            transform: translate(500px, 1033.09035px);
  }
}

@keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1033.09035px);
            transform: translate(500px, 1033.09035px);
  }
}

@-webkit-keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1057.75967px);
            transform: translate(500px, 1057.75967px);
  }
}

@keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1057.75967px);
            transform: translate(500px, 1057.75967px);
  }
}

@-webkit-keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1009.53234px);
            transform: translate(500px, 1009.53234px);
  }
}

@keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1009.53234px);
            transform: translate(500px, 1009.53234px);
  }
}

@-webkit-keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1029.25755px);
            transform: translate(500px, 1029.25755px);
  }
}

@keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1029.25755px);
            transform: translate(500px, 1029.25755px);
  }
}

@-webkit-keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1042.05791px);
            transform: translate(500px, 1042.05791px);
  }
}

@keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1042.05791px);
            transform: translate(500px, 1042.05791px);
  }
}

@-webkit-keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1092.60719px);
            transform: translate(500px, 1092.60719px);
  }
}

@keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1092.60719px);
            transform: translate(500px, 1092.60719px);
  }
}

@-webkit-keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1086.739px);
            transform: translate(500px, 1086.739px);
  }
}

@keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1086.739px);
            transform: translate(500px, 1086.739px);
  }
}

@-webkit-keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1014.36383px);
            transform: translate(500px, 1014.36383px);
  }
}

@keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1014.36383px);
            transform: translate(500px, 1014.36383px);
  }
}

@-webkit-keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1092.66625px);
            transform: translate(500px, 1092.66625px);
  }
}

@keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1092.66625px);
            transform: translate(500px, 1092.66625px);
  }
}
/*# sourceMappingURL=sass-for.css.map */