* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#dcf0f1, #1f7396);
}

.stars {
  width: 100%;
  position: relative;
}

.stars .star-1 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  -webkit-animation-name: fall-1;
          animation-name: fall-1;
  -webkit-animation-duration: 5.78543s;
          animation-duration: 5.78543s;
  -webkit-animation-delay: 2.45511s;
          animation-delay: 2.45511s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-2 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  -webkit-animation-name: fall-2;
          animation-name: fall-2;
  -webkit-animation-duration: 3.58234s;
          animation-duration: 3.58234s;
  -webkit-animation-delay: 1.78806s;
          animation-delay: 1.78806s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-3 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  -webkit-animation-name: fall-3;
          animation-name: fall-3;
  -webkit-animation-duration: 2.69863s;
          animation-duration: 2.69863s;
  -webkit-animation-delay: 2.8223s;
          animation-delay: 2.8223s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-4 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  -webkit-animation-name: fall-4;
          animation-name: fall-4;
  -webkit-animation-duration: 5.60903s;
          animation-duration: 5.60903s;
  -webkit-animation-delay: 1.53586s;
          animation-delay: 1.53586s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-5 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  -webkit-animation-name: fall-5;
          animation-name: fall-5;
  -webkit-animation-duration: 3.34375s;
          animation-duration: 3.34375s;
  -webkit-animation-delay: 2.01387s;
          animation-delay: 2.01387s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-6 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  -webkit-animation-name: fall-6;
          animation-name: fall-6;
  -webkit-animation-duration: 1.76499s;
          animation-duration: 1.76499s;
  -webkit-animation-delay: 2.07179s;
          animation-delay: 2.07179s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-7 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 210px;
  -webkit-animation-name: fall-7;
          animation-name: fall-7;
  -webkit-animation-duration: 4.26095s;
          animation-duration: 4.26095s;
  -webkit-animation-delay: 0.95353s;
          animation-delay: 0.95353s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-8 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 240px;
  -webkit-animation-name: fall-8;
          animation-name: fall-8;
  -webkit-animation-duration: 3.57281s;
          animation-duration: 3.57281s;
  -webkit-animation-delay: 0.40189s;
          animation-delay: 0.40189s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-9 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 270px;
  -webkit-animation-name: fall-9;
          animation-name: fall-9;
  -webkit-animation-duration: 4.5061s;
          animation-duration: 4.5061s;
  -webkit-animation-delay: 0.93986s;
          animation-delay: 0.93986s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-10 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 300px;
  -webkit-animation-name: fall-10;
          animation-name: fall-10;
  -webkit-animation-duration: 5.3509s;
          animation-duration: 5.3509s;
  -webkit-animation-delay: 0.30417s;
          animation-delay: 0.30417s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-11 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 330px;
  -webkit-animation-name: fall-11;
          animation-name: fall-11;
  -webkit-animation-duration: 5.01091s;
          animation-duration: 5.01091s;
  -webkit-animation-delay: 0.9907s;
          animation-delay: 0.9907s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-12 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 360px;
  -webkit-animation-name: fall-12;
          animation-name: fall-12;
  -webkit-animation-duration: 3.63336s;
          animation-duration: 3.63336s;
  -webkit-animation-delay: 1.71357s;
          animation-delay: 1.71357s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-13 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 390px;
  -webkit-animation-name: fall-13;
          animation-name: fall-13;
  -webkit-animation-duration: 3.41307s;
          animation-duration: 3.41307s;
  -webkit-animation-delay: 2.86568s;
          animation-delay: 2.86568s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-14 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 420px;
  -webkit-animation-name: fall-14;
          animation-name: fall-14;
  -webkit-animation-duration: 3.73298s;
          animation-duration: 3.73298s;
  -webkit-animation-delay: 0.98588s;
          animation-delay: 0.98588s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-15 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  -webkit-animation-name: fall-15;
          animation-name: fall-15;
  -webkit-animation-duration: 1.03474s;
          animation-duration: 1.03474s;
  -webkit-animation-delay: 0.05819s;
          animation-delay: 0.05819s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-16 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 480px;
  -webkit-animation-name: fall-16;
          animation-name: fall-16;
  -webkit-animation-duration: 4.50505s;
          animation-duration: 4.50505s;
  -webkit-animation-delay: 2.14572s;
          animation-delay: 2.14572s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-17 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 510px;
  -webkit-animation-name: fall-17;
          animation-name: fall-17;
  -webkit-animation-duration: 4.10736s;
          animation-duration: 4.10736s;
  -webkit-animation-delay: 0.81535s;
          animation-delay: 0.81535s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-18 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 540px;
  -webkit-animation-name: fall-18;
          animation-name: fall-18;
  -webkit-animation-duration: 2.81262s;
          animation-duration: 2.81262s;
  -webkit-animation-delay: 2.54161s;
          animation-delay: 2.54161s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-19 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 570px;
  -webkit-animation-name: fall-19;
          animation-name: fall-19;
  -webkit-animation-duration: 4.26258s;
          animation-duration: 4.26258s;
  -webkit-animation-delay: 0.73401s;
          animation-delay: 0.73401s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-20 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 600px;
  -webkit-animation-name: fall-20;
          animation-name: fall-20;
  -webkit-animation-duration: 2.4007s;
          animation-duration: 2.4007s;
  -webkit-animation-delay: 2.0268s;
          animation-delay: 2.0268s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-21 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 630px;
  -webkit-animation-name: fall-21;
          animation-name: fall-21;
  -webkit-animation-duration: 5.11904s;
          animation-duration: 5.11904s;
  -webkit-animation-delay: 2.44045s;
          animation-delay: 2.44045s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-22 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 660px;
  -webkit-animation-name: fall-22;
          animation-name: fall-22;
  -webkit-animation-duration: 1.035s;
          animation-duration: 1.035s;
  -webkit-animation-delay: 0.26903s;
          animation-delay: 0.26903s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-23 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 690px;
  -webkit-animation-name: fall-23;
          animation-name: fall-23;
  -webkit-animation-duration: 4.29352s;
          animation-duration: 4.29352s;
  -webkit-animation-delay: 2.04181s;
          animation-delay: 2.04181s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-24 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 720px;
  -webkit-animation-name: fall-24;
          animation-name: fall-24;
  -webkit-animation-duration: 2.30907s;
          animation-duration: 2.30907s;
  -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-25 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 750px;
  -webkit-animation-name: fall-25;
          animation-name: fall-25;
  -webkit-animation-duration: 3.26898s;
          animation-duration: 3.26898s;
  -webkit-animation-delay: 2.42307s;
          animation-delay: 2.42307s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-26 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 780px;
  -webkit-animation-name: fall-26;
          animation-name: fall-26;
  -webkit-animation-duration: 3.1958s;
          animation-duration: 3.1958s;
  -webkit-animation-delay: 0.92304s;
          animation-delay: 0.92304s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-27 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 810px;
  -webkit-animation-name: fall-27;
          animation-name: fall-27;
  -webkit-animation-duration: 3.79543s;
          animation-duration: 3.79543s;
  -webkit-animation-delay: 0.93714s;
          animation-delay: 0.93714s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-28 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 840px;
  -webkit-animation-name: fall-28;
          animation-name: fall-28;
  -webkit-animation-duration: 5.64933s;
          animation-duration: 5.64933s;
  -webkit-animation-delay: 1.82653s;
          animation-delay: 1.82653s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-29 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 870px;
  -webkit-animation-name: fall-29;
          animation-name: fall-29;
  -webkit-animation-duration: 5.83332s;
          animation-duration: 5.83332s;
  -webkit-animation-delay: 1.19699s;
          animation-delay: 1.19699s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-30 {
  width: 9px;
  height: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  left: 900px;
  -webkit-animation-name: fall-30;
          animation-name: fall-30;
  -webkit-animation-duration: 5.3016s;
          animation-duration: 5.3016s;
  -webkit-animation-delay: 0.87204s;
          animation-delay: 0.87204s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.14065px);
            transform: translate(500px, 1078.14065px);
  }
}

@keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.14065px);
            transform: translate(500px, 1078.14065px);
  }
}

@-webkit-keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1071.07206px);
            transform: translate(500px, 1071.07206px);
  }
}

@keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1071.07206px);
            transform: translate(500px, 1071.07206px);
  }
}

@-webkit-keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1035.11879px);
            transform: translate(500px, 1035.11879px);
  }
}

@keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1035.11879px);
            transform: translate(500px, 1035.11879px);
  }
}

@-webkit-keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1070.01565px);
            transform: translate(500px, 1070.01565px);
  }
}

@keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1070.01565px);
            transform: translate(500px, 1070.01565px);
  }
}

@-webkit-keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1064.85211px);
            transform: translate(500px, 1064.85211px);
  }
}

@keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1064.85211px);
            transform: translate(500px, 1064.85211px);
  }
}

@-webkit-keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1011.67491px);
            transform: translate(500px, 1011.67491px);
  }
}

@keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1011.67491px);
            transform: translate(500px, 1011.67491px);
  }
}

@-webkit-keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1091.82682px);
            transform: translate(500px, 1091.82682px);
  }
}

@keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1091.82682px);
            transform: translate(500px, 1091.82682px);
  }
}

@-webkit-keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1029.25406px);
            transform: translate(500px, 1029.25406px);
  }
}

@keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1029.25406px);
            transform: translate(500px, 1029.25406px);
  }
}

@-webkit-keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1024.40739px);
            transform: translate(500px, 1024.40739px);
  }
}

@keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1024.40739px);
            transform: translate(500px, 1024.40739px);
  }
}

@-webkit-keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1039.43493px);
            transform: translate(500px, 1039.43493px);
  }
}

@keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1039.43493px);
            transform: translate(500px, 1039.43493px);
  }
}

@-webkit-keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1087.06423px);
            transform: translate(500px, 1087.06423px);
  }
}

@keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1087.06423px);
            transform: translate(500px, 1087.06423px);
  }
}

@-webkit-keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1081.40935px);
            transform: translate(500px, 1081.40935px);
  }
}

@keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1081.40935px);
            transform: translate(500px, 1081.40935px);
  }
}

@-webkit-keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1009.14886px);
            transform: translate(500px, 1009.14886px);
  }
}

@keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1009.14886px);
            transform: translate(500px, 1009.14886px);
  }
}

@-webkit-keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1076.79537px);
            transform: translate(500px, 1076.79537px);
  }
}

@keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1076.79537px);
            transform: translate(500px, 1076.79537px);
  }
}

@-webkit-keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1053.74047px);
            transform: translate(500px, 1053.74047px);
  }
}

@keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1053.74047px);
            transform: translate(500px, 1053.74047px);
  }
}

@-webkit-keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1070.88694px);
            transform: translate(500px, 1070.88694px);
  }
}

@keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1070.88694px);
            transform: translate(500px, 1070.88694px);
  }
}

@-webkit-keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1018.21477px);
            transform: translate(500px, 1018.21477px);
  }
}

@keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1018.21477px);
            transform: translate(500px, 1018.21477px);
  }
}

@-webkit-keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1037.126px);
            transform: translate(500px, 1037.126px);
  }
}

@keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1037.126px);
            transform: translate(500px, 1037.126px);
  }
}

@-webkit-keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1051.23902px);
            transform: translate(500px, 1051.23902px);
  }
}

@keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1051.23902px);
            transform: translate(500px, 1051.23902px);
  }
}

@-webkit-keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1034.45127px);
            transform: translate(500px, 1034.45127px);
  }
}

@keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1034.45127px);
            transform: translate(500px, 1034.45127px);
  }
}

@-webkit-keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1075.78181px);
            transform: translate(500px, 1075.78181px);
  }
}

@keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1075.78181px);
            transform: translate(500px, 1075.78181px);
  }
}

@-webkit-keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1024.72752px);
            transform: translate(500px, 1024.72752px);
  }
}

@keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1024.72752px);
            transform: translate(500px, 1024.72752px);
  }
}

@-webkit-keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1046.46845px);
            transform: translate(500px, 1046.46845px);
  }
}

@keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1046.46845px);
            transform: translate(500px, 1046.46845px);
  }
}

@-webkit-keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.04759px);
            transform: translate(500px, 1078.04759px);
  }
}

@keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1078.04759px);
            transform: translate(500px, 1078.04759px);
  }
}

@-webkit-keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1082.52633px);
            transform: translate(500px, 1082.52633px);
  }
}

@keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1082.52633px);
            transform: translate(500px, 1082.52633px);
  }
}

@-webkit-keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1054.03481px);
            transform: translate(500px, 1054.03481px);
  }
}

@keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1054.03481px);
            transform: translate(500px, 1054.03481px);
  }
}

@-webkit-keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1062.14546px);
            transform: translate(500px, 1062.14546px);
  }
}

@keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1062.14546px);
            transform: translate(500px, 1062.14546px);
  }
}

@-webkit-keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1017.538px);
            transform: translate(500px, 1017.538px);
  }
}

@keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1017.538px);
            transform: translate(500px, 1017.538px);
  }
}

@-webkit-keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1040.75365px);
            transform: translate(500px, 1040.75365px);
  }
}

@keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1040.75365px);
            transform: translate(500px, 1040.75365px);
  }
}

@-webkit-keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1037.75998px);
            transform: translate(500px, 1037.75998px);
  }
}

@keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(500px, 1037.75998px);
            transform: translate(500px, 1037.75998px);
  }
}
/*# sourceMappingURL=sass-for.css.map */